# Database and port environemnt variable values 

MONGODB_URI = mongodb://localhost:27017
DB_NAME = dashboard
PORT = 8080

# Frontend Origin 
FRONTEND_URI = *
CROSS_ORIGIN = * 

# Tokens 
SECRET_TOKEN = ABCDEFGHIJK
SECRET_TOKEN_EXPIRY = 10d

# Project prgress level 
NODE_ENV=development

# Nodemailer Environemnt variable values 

AUTH_EMAIL = mdjavedshekh777@gmail.com
AUTH_KEY = cuns wmyi vyoo bwyq

OWNER_EMAIL = malikshekh121@gmail.com
OWNER_NAME = Owner


# Clodinary Environment Variabble values 

CLOUD_NAME = javed-shekh
CLOUD_API_KEY = 147159497297257
CLOUD_API_SECRET = vzTaxYTe_8jlbrilZ-kOBhCNpzw


# Razorpayment Secret values 

PAY_SECRET = OdcElcGDPqU0A38rTffBuA4u 
PAY_ID = rzp_test_TUbLomB3Us0fZ1